@use "../../../../css/variables/color.scss";
@use "../../../../css/variables/layout.scss";
@use "../../../../css/variables/breakpoint.scss";

.welcome {
  height: 100%;
  color: color.$text-1;
  background: color.$bg-1;
  // margin-top: 70px; // hvis Nav = fixed (top:0)

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    max-width: layout.$page-width;
    padding: 0 layout.$page-padding;

    .text {
      display: flex;
      align-items: center;
      margin: auto 0;
    }
  }
}
