@use "../../../../css/variables/color.scss";
@use "../../../../css/variables/layout.scss";
@use "../../../../css/variables/breakpoint.scss";

.welcome {
  height: 40vh;

  .container {
    height: 100%;
    max-width: layout.$page-width;
    padding: 0 layout.$page-padding;

    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
      margin: auto 0;
    }
  }
}
