@use "../../../css/variables/breakpoint.scss";
@use "../../../css/variables/layout.scss";

.technologies {
  .container {
    margin: auto;
    max-width: layout.$page-width;
    padding: layout.$page-padding;
  }
}
