@use "../../../css/variables/color.scss";
@use "../../../css/variables/layout.scss";
@use "../../../css/variables/breakpoint.scss";

.welcome {
  height: 40vh;
  color: color.$text-1;
  background: color.$bg-1;
  // margin-top: 70px; // hvis Nav = fixed (top:0)

  .container {
    display: flex;
    align-items: center;

    height: 100%;
    max-width: layout.$page-width;
    margin: auto;
    padding: 0 layout.$page-padding;
  }
}

// @include breakpoint.laptop {
//   .welcome {
//     .container {
//       .image {
//         display: block;
//       }
//     }
//   }
// }
