@use "../../../css/variables/color.scss";
@use "../../../css/variables/layout.scss";
@use "../../../css/variables/breakpoint.scss";

.welcome {
  height: 50vh;
  color: color.$text-1;
  background: color.$bg-1;

  .container {
    display: flex;
    align-items: center;

    height: 100%;
    max-width: layout.$page-width;
    margin: auto;
    padding: layout.$page-padding;

    .text {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .image {
      display: none;
    }
  }
}

// @include breakpoint.laptop {
//   .welcome {
//     .container {
//       .image {
//         display: block;
//       }
//     }
//   }
// }
