// max-width for readability
$page-width: 1220px;
$page-padding: 20px;

$border-radius: 0px;
$box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
// $box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
// $box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
