@use "../../../../css/variables/color.scss";
@use "../../../../css/variables/layout.scss";

.container {
  z-index: -1;
  position: absolute;
  inset: 0 0 0 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: color.$bg-1;
  padding-bottom: calc(layout.$page-padding * 2);

  .list {
    display: flex;
    align-items: center;
    gap: 2rem;

    li {
      .icon {
        display: block;
        padding: calc(layout.$page-padding / 2);
        margin: auto;

        svg {
          display: block;
          font-size: 1.5rem;
        }
      }

      &:hover .icon {
        background: color.$bg-1-shade;
        border-radius: 50%;
        transition: background 250ms ease-in-out;
      }
    }
  }
}
