@use "../../../../css/variables/color.scss";
@use "../../../../css/variables/layout.scss";

.container {
  z-index: -1;
  position: absolute;
  inset: 0 0 0 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: color.$bg-1;
  padding-bottom: calc(layout.$page-padding * 2);

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        svg {
          padding: auto;
          margin-left: -2px;
          // margin-bottom: -2.5px;
        }
      }
    }
  }
}
