@use "../../../../../css/variables/layout.scss";
@use "../../../../../css/variables/color.scss";
@use "../../../../../css/variables/font.scss";

.project {
  padding: 1rem;
  border-radius: layout.$border-radius;
  box-shadow: layout.$box-shadow;
  cursor: pointer;

  &:hover .titleText {
    text-decoration: underline;
  }

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    div {
      .linkRepo {
        svg {
          display: block;
          width: 20px;
          margin-right: 0.4rem;
        }
      }

      .titleText {
        font-size: font.$size-m;
        font-weight: font.$weight-l;
        color: color.$link;
      }

      .label {
        padding: 0.1rem 0.35rem;
        margin: auto 0.5rem;
        font-size: 12px;
        font-weight: font.$weight-l;
        color: rgba(0, 0, 0, 0.8);
        border: 1px solid darkgrey;
        border-radius: 10px;
      }
    }

    .dots {
      svg {
        margin: 0;
        height: 15px;
        width: 15px;
        fill: rgba(0, 0, 0, 0.8);
        fill: rgba(0, 0, 0, 0.8);
      }
    }
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;

    .dot {
      flex-shrink: 0;
      height: 15px;
      width: 15px;
      border-radius: 50%;
    }

    .text {
      word-wrap: break-word;
      margin-left: 0.5rem;
      font-size: font.$size-xs;
    }
  }
}
