@use "../../../../../css/variables/layout.scss";

.icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0;

  li {
    svg {
      display: block;
      font-size: 3rem;
    }
  }
}
