@use "../../../css/variables/color.scss";
@use "../../../css/variables/font.scss";
@use "../../../css/variables/layout.scss";
@use "../../../css/variables/breakpoint.scss";

.nav {
  position: relative;
  z-index: 1000;
  background: color.$bg-1;

  .container {
    margin: auto;
    max-width: layout.$page-width;
    padding: calc(layout.$page-padding / 2);
    display: flex;
    justify-content: flex-end;
  }

  h2 {
    padding: calc(layout.$page-padding / 2);
    font-size: 1.25rem;

    span {
      color: color.$one;
      font-family: font.$family-3;
    }
  }

  .hamburgerMenu {
    padding: calc(layout.$page-padding / 2);

    svg {
      display: block;
      font-size: 1.5rem;
    }

    &:hover {
      background: color.$bg-1-shade;
      border-radius: 50%;
      transition: background 250ms ease-in-out;
    }
  }
}

// @include breakpoint.laptop {
//   .nav {
//     display: none;
//   }
// }
