@use "../../css/variables/layout.scss";
@use "../../css/variables/color.scss";
@use "../../css/variables/font.scss";

.container {
  min-height: 90vh;
  max-width: layout.$page-width;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 1.5rem;
    text-orientation: upright;
    writing-mode: tb-rl;
  }

  .contactForm {
    width: 25rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    border-radius: layout.$border-radius;

    .formControl {
      width: 100%;
      display: flex;
      flex-direction: column;

      input {
        padding: 0.5rem;
        border: 0.5px solid grey;
        font-family: font.$family-2;
        border-radius: layout.$border-radius;
      }

      textarea {
        height: 6rem;
        padding: 0.5rem;
        border: 0.5px solid grey;
        font-family: font.$family-2;
        border-radius: layout.$border-radius;
        resize: none;
      }

      .invalidMsg {
        padding-top: 0.1rem;
        padding-left: 0.2rem;
        font-size: 0.8rem;
        font-weight: bold;
        color: red;
      }
    }

    .btnSendEmail {
      padding: 0.75rem;
      font-family: font.$family-2;
      font-weight: bolder;
      color: white;
      background-color: color.$link;
      border-radius: layout.$border-radius;

      &:hover {
        background-color: color.$link-light;
      }
    }
  }
}
