@use "../../../../css/variables/layout.scss";
@use "../../../../css/variables/font.scss";
@use "../../../../css/variables/breakpoint.scss";

.projects {
  .container {
    max-width: layout.$page-width;
    margin: 1rem auto;
    padding: 0 layout.$page-padding;

    h1 {
      height: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: font.$family-3;
      font-size: 2.5rem;
      text-align: center;
      letter-spacing: 7.5px;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
  }
}

@include breakpoint.laptop {
  .projects {
    .container {
      h1 {
        margin: 3.5rem 0;
        font-size: 3rem;
        letter-spacing: 10px;
      }
    }
  }
}
