@use "../../../css/variables/color.scss";
@use "../../../css/variables/layout.scss";
@use "../../../css/variables/breakpoint.scss";

@include breakpoint.mobile {
  .nav {
    display: none;
  }
}

.nav {
  position: relative;
  z-index: 1000;
  box-shadow: layout.$box-shadow;

  .container {
    margin: auto;
    max-width: layout.$page-width;
    padding: layout.$page-padding;

    h2 {
      padding: calc(layout.$page-padding / 2);

      span {
        color: color.$one;
      }
    }
  }
}
