@use "../../../css/variables/color.scss";
@use "../../../css/variables/layout.scss";
@use "../../../css/variables/breakpoint.scss";

@include breakpoint.mobile {
  .nav {
    display: none;
  }
}

.nav {
  .container {
    margin: auto;
    max-width: layout.$page-width;
    padding: layout.$page-padding;

    .list {
      display: flex;
      gap: 1rem;

      li {
        &:hover {
          opacity: 0.25;
        }
      }
    }
  }
}
