@use "../../../css/variables/layout.scss";
@use "../../../css/variables/breakpoint.scss";

@include breakpoint.mobile {
  .container {
    display: none;
  }
}

.nav {
  position: relative;
  z-index: 1000;
  // position: fixed;
  // top: 0;
  // width: 100%;
  box-shadow: layout.$box-shadow;

  .container {
    margin: auto;
    max-width: layout.$page-width;
    padding: layout.$page-padding;
  }
}
