@use "../../css/variables/color.scss";
@use "../../css/variables/layout.scss";

.nav {
  // z-index: 1000;
  // display: fixed;
  // top: 0;
  width: 100%;
  padding: 2rem 0;
  background: color.$bg-1;
  color: color.$text-1;
}
