@use "../../css/variables/font.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  // :)
  font-size: calc(14px + 0.290625vw);
}

body {
  scroll-behavior: smooth;
  font-family: font.$family-1;
}

// Universal

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}
