@use "../../css/variables/color.scss";
@use "../../css/variables/font.scss";
@use "../../css/variables/layout.scss";

.footer {
  width: 100%;
  padding: 1rem 0;
  background: color.$bg-1-shade;

  .line {
    .container {
      margin: auto;
      max-width: layout.$page-width;
      padding: layout.$page-padding;
    }
  }
}
