@use "../../../css/variables/layout.scss";
@use "../../../css/variables/breakpoint.scss";

.container {
  margin: auto;
  max-width: layout.$page-width;
  padding: layout.$page-padding;

  display: flex;
  justify-content: flex-end;
}

@include breakpoint.laptop {
  .container {
    display: none;
  }
}
